html, body {
		background:#CCC;   
}
#text{ width:100%; }
#map_canvas {
        height: 250px;
        width: 100%;
    }
iframe { height: 510px; width: 100%;}


footer           { display: none; }
body:after { content: "Smartphone Layout"; }
body   